<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sample</title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Posted at</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="filePost : ${files}" th:object="${filePost}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <img th:src="${'file:///'+filedir+'/'+filePost.id+'/'+filePost.imageName}" alt="image">
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/files/new}">NEW POST</a>
    </div>
</body>

</html>